# This is a basic workflow to help you get started with Actions

name: Release Binary

on:
  push:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: 
        - windows-latest
        - ubuntu-latest
        - macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9.9
    - name: Install Poetry
      uses: snok/install-poetry@v1

    - run: poetry install
    - run: pyinstaller src/nutcracker/runner.py
    # Optionally verify that it works (provided that it does not need user interaction)
    - run: ./dist/nutcracker
    - uses: actions/upload-artifact@v2
      with:
        path: dist/*
